a{
  color: lightgrey;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}

a:hover, a:active{
color:gray;
}

.main-header-button{
  font-size: larger;
  margin-right: 50px;
  color: white;
}

.navigation-items{
list-style-type:none;
padding:0;
margin:0;
}
mat-toolbar{
border-radius: 3px;
}
.example-spacer {
flex: 1 1 auto;
}
.logged-text{
  font-size: small;
}
@media(max-width: 959px){
    mat-toolbar{
    border-radius: 0px;
    }
}
