<div class="filters">
  <div class="col-md-10 offset-1">
    <br>
    <div class="row">
      <div class="col-md-12 text-center">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Search phrase</mat-label>
          <input matInput placeholder="Search phrase" type="Text" [(ngModel)]="searchPhrase">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>From</mat-label>
          <input matInput placeholder="From" type="Number" [(ngModel)]="rateFrom">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>To</mat-label>
          <input matInput placeholder="To" type="Number" [(ngModel)]="rateTo">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div>
        <button mat-raised-button color="primary" class="width-100" (click)="filter()">Filter</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div>
        <button mat-raised-button color="primary" class="width-100" (click)="clearAll()">Clear</button>
      </div>
    </div>
    <br>
  </div>
</div>
