<div class="row">
  <div class="col-md-10 offset-1 text-center">
    <h2>Offer: {{offer?.title}}</h2>
    <div class="row">
      <div class="col-md-4 offset-1 text-center">
        <h3><b>Position: </b>{{offer?.positionType}}</h3>
      </div>
      <div class="col-md-4 offset-1">
        <h3><b>Salary min: </b>{{offer?.salaryRangeMin}}</h3>
        <h3><b>Salary max: </b>{{offer?.salaryRangeMax}}</h3>
      </div>
      <div class="col-md-10 offset-1 text-center">
        <h3><b>Description: </b></h3>
        <p>{{offer?.description}}</p>
      </div>
    </div>
    <h2>Applies list:</h2>
    <div class="col-md-10 offset-1 text-center">
      <app-applications-list [offerId]="offerId"></app-applications-list>
    </div>
  </div>
</div>
