<div class="row">
  <div class="col-md-12 text-center">
    <h1>Offers for company</h1>
    <br>
  </div>
  <div class="col-md-3 text-end">
    <app-offers-list-for-company-filters (multiParamsEventEmitter)="filterOffers($event)"></app-offers-list-for-company-filters>
  </div>
  <div class="col-md-8">
    <div *ngIf="offersList?.length !== 0; else noOffers">
      <ng-container *ngFor="let offer of offersList">
        <app-offers-list-for-company-row [offer]="offer" (emitStatusChange)="refreshStatus($event)"></app-offers-list-for-company-row>
      </ng-container>
      <div class="row">
        <mat-paginator #paginator
                       (page)="handlePageEvent($event)"
                       [length]=length
                       [pageSize]=pageSize
                       [pageSizeOptions]="[5, 10, 15, 20]"
                       [pageIndex]="pageIndex"
                       aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
    <ng-template #noOffers>
      <app-offers-list-for-company-empty></app-offers-list-for-company-empty>
    </ng-template>
  </div>
</div>
